database:VAW_AMER_DESIGN
schema:USROICDIF

tables:
  - name: TASK_MASTER_NEW
    columns:
      - name: TASK_ID
        type: NUMBER(38,0)
      - name: TASK_TYPE
        type: VARCHAR(255)
      - name: TASK_DESC
        type: VARCHAR(1500)
      - name: ACTIVE_FLAG
        type: VARCHAR(1)
      - name: TASK_AREA
        type: VARCHAR(50)
      - name: REC_INSERT_DTTM
        type: TIMESTAMP_NTZ(9)
      - name: REC_UPDATE_DTTM
        type: TIMESTAMP_NTZ(9)


TASK_MASTER_DDL : 'create or replace TABLE VAW_AMER_DESIGN.USROICDIF.TASK_MASTER_NEW (TASK_ID NUMBER(38,0),TASK_TYPE VARCHAR(255),TASK_DESC VARCHAR(1500),ACTIVE_FLAG VARCHAR(1),TASK_AREA VARCHAR(50),REC_INSERT_DTTM TIMESTAMP_NTZ(9),REC_UPDATE_DTTM TIMESTAMP_NTZ(9));'

FILE_MASTER_DDL : 'create or replace TABLE VAW_AMER_DESIGN.USROICDIF.FILE_MASTER_NEW (TASK_ID NUMBER(38,0),FILE_MSTR_ID NUMBER(38,0),FILE_NAME VARCHAR(250),SRC_SYS VARCHAR(250),SRC_OBJ_NM VARCHAR(250),SRC_OBJ_TYP VARCHAR(250),FILE_EXTENSION VARCHAR(250),FILE_DELIMITER VARCHAR(250),PATTERN_MATCH_ENABLED VARCHAR(3),SRC_STORAGE_TYPE VARCHAR(250),SRC_LOCATION VARCHAR(2500),SRC_LOCATION_OWNER VARCHAR(250),VENDOR_NM VARCHAR(250),FILE_HEADER_AVLB VARCHAR(250),ARCHIVE_REQUIRED VARCHAR(250),ARCHIVE_LOCATION VARCHAR(2500),DOMAIN VARCHAR(250),SUB_DOMAIN VARCHAR(250),ACTIVE_FLAG VARCHAR(1),PATTERN_TYPE VARCHAR(10),FREQUENCY VARCHAR(1),REC_INSERT_DTTM TIMESTAMP_NTZ(9),REC_UPDATE_DTTM TIMESTAMP_NTZ(9),EXTRA_COLUMNS_REQUIRED VARCHAR(1),EXTRA_COLUMN_NAME VARCHAR(16777216),EXTRA_COLUMN_VALUE VARCHAR(16777216));'

DB_MASTER_DDL : 'create or replace TABLE VAW_AMER_DESIGN.USROICDIF.DB_MASTER_NEW (TASK_ID NUMBER(38,0),DB_MSTR_ID NUMBER(38,0),SRC_OBJ_NM VARCHAR(16777216),TGT_OBJ_NM VARCHAR(16777216),SRC_OBJ_GIT_LOC VARCHAR(16777216),ACTIVE_FLAG VARCHAR(1),LOAD_TYPE VARCHAR(1),FREQUENCY VARCHAR(1),DOMAIN VARCHAR(100),SUB_DOMAIN VARCHAR(100),REC_INSERT_DTTM TIMESTAMP_NTZ(9),REC_UPDATE_DTTM TIMESTAMP_NTZ(9));'

STANDARDIZATION_MASTER_DDL : 'create or replace TABLE VAW_AMER_DESIGN.USROICDIF.STANDARDIZATION_MASTER_NEW (STND_MSTR_ID NUMBER(38,0),SRC_OBJ_LIST VARCHAR(10000),INPUT_STND_COL_KEYS VARCHAR(10000),ACTIVE_FLAG VARCHAR(1),INPUT_STND_TYPE VARCHAR(100),CUSTOM_SQL VARCHAR(16777216),REC_INSERT_DATETIME TIMESTAMP_NTZ(9),REC_UPDATE_DATETIME TIMESTAMP_NTZ(9),TGT_OBJ_LIST VARCHAR(10000),COL_NOT_REQ VARCHAR(10000));'

BATCH_LOG_DDL : 'create or replace TABLE VAW_AMER_DESIGN.USROICDIF.BATCH_LOG_NEW (BATCH_ID NUMBER(38,0),BATCH_START_TIMESTAMP TIMESTAMP_NTZ(9),BATCH_END_TIMESTAMP TIMESTAMP_NTZ(9),EXECUTION_STATUS VARCHAR(16777216),BATCH_RUN_TIME NUMBER(38,0),DOMAIN VARCHAR(16777216));'

TASK_LOG_DDL : 'create or replace TABLE VAW_AMER_DESIGN.USROICDIF.TASK_LOG_NEW (BATCH_ID NUMBER(38,0),TASK_ID NUMBER(38,0),FILE_MSTR_ID NUMBER(38,0),DB_MSTR_ID NUMBER(38,0),TASK_TYPE VARCHAR(16777216),RUN_STATUS VARCHAR(16777216),TASK_START_TIME TIMESTAMP_NTZ(9),TASK_END_TIME TIMESTAMP_NTZ(9),TASK_RUN_TIME NUMBER(38,0),FILE_NAME VARCHAR(16777216),TABLE_NAME VARCHAR(16777216),DOMAIN VARCHAR(16777216));'

ERROR_LOG_DDL : 'create or replace TABLE VAW_AMER_DESIGN.USROICDIF.ERROR_LOG_NEW (BATCH_ID NUMBER(38,0),TASK_ID NUMBER(38,0),TASK_TYPE VARCHAR(2500),DB_MSTR_ID NUMBER(38,0),FILE_MSTR_ID NUMBER(38,0),ERR_LOG VARCHAR(100000),ERR_CD VARCHAR(2500),ERR_DESC VARCHAR(2500),ERROR_LOAD_TIME TIMESTAMP_NTZ(9),DOMAIN VARCHAR(2500),SUB_DOMAIN VARCHAR(2500),FILE_NAME VARCHAR(2500),TABLE_NAME VARCHAR(2500));'

AUDIT_LOG_DDL : 'create or replace TABLE VAW_AMER_DESIGN.USROICDIF.AUDIT_LOG_NEW (BATCH_ID NUMBER(38,0),TASK_MSTR_ID NUMBER(38,0),FILE_MSTR_ID NUMBER(38,0),DB_MSTR_ID NUMBER(38,0),TASK_TYPE VARCHAR(200),SRC_OBJ_NM VARCHAR(200),TGT_OBJ_NM VARCHAR(200),SRC_READ_CNT NUMBER(38,0),TGT_WRITE_CNT NUMBER(38,0),TGT_REJECT_COUNT NUMBER(38,0),REC_INSERT_DTTM TIMESTAMP_NTZ(9));'


